@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,*::before,*::after{
    padding:0px;
    margin:0px;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#055A7F;
}
img{
    width:150px;
    height: 150px;
}

body{
    background-color: #70B2CF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    font-family: 'Poppins', sans-serif;

}

.home-page{
    position: fixed;
    top:20px;
    font-size: 2rem;
    font-weight: 900;

}

.wrapper{
    background-color:  #055A7F;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}



.wrapper .track{
    display: flex;

    animation:scroll-primary 50s .5s linear infinite;
}


.wrapper .track2{
    display: flex;

    animation:scroll-primary 50s .5s linear infinite;
}

 .wrapper::before, .wrapper::after{
    content: "";
    position: absolute;
    height: 130px;
    width:150px;
    z-index: 2;
} 
.wrapper::before{
    left:0;
    top:0;
}

.wrapper::after{
    right:0;
    top:0;
    transform: rotateZ(180deg);
}
.wrapper .member{
    width: 200px;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}


.member .role{
    margin-bottom: 10px;

}

.member{
    font-size: 1.2rem;


    color:white;
} 

.member .name{
    font-weight: 300;
    
}

.member .role{
    font-style: italic;
}

@keyframes scroll-primary{
    from{
        transform: translateX(0);

    }to{
        transform:translateX(calc(-250px*6))
    }
}

@keyframes scroll-secondary{
    from{
        transform: translateX(calc(-250px*6));

    }to{
        transform:translateX(0);
    }
}