@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');


* {
	margin: 0;
	padding: 0;
}


body {
	background-image: url('/images/waveBackground.png');
	background-size: cover;
	background-position-x: left;
	background-position-y: top;
}


header {
	background-color: #2C8CB5;
	position: sticky;
	top: 0;
	padding: 1em;
	z-index: 10;
}

header > a {
	text-align: left;
    color: white;
	font-family: 'Gowun Batang', 'Times New Roman', serif;
	font-size: 35px;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}

header > a:hover {
	animation: homehover;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}


.centered-block {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 33vw;
	min-width: 300px;
	height: 80vh;
}


footer {
	background-color: #2C8CB5;
	height: 300px;
	margin-top: 100vh;
}



/* Transitions */


.fade-me-in {
	animation: fadein;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

.fade-me-out {
	animation: fadeout;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}


@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeout {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes homehover {
	from {font-size: 35px;}
	to {font-size: 37px;}
}

