*,*::before,*::after{
    padding:0;
    margin:0;
    
}

body{
    background-image: url('/images/waveBackground.png');
    background-size: cover;
}

label{
    color:white;
    padding: .5em;
    font-size: 25px;
    font-family: fantasy;
    text-transform: uppercase;

}

form{
    display:flex;
    flex-direction: column;
    background-color: #d4a846;
    align-items: center;  
    justify-content: center;
    width:60%;
    height: auto ;
    margin:0 auto;
    
    border-radius:50px;
}

.container-one{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.login-btn{
    width: 10em;
    margin: 30px;
    border: none;
    padding: 5px;
    border-radius: 30px; /* Softer rounded corners */
    color: #182a38; 
    background-color: #f9d876;
    font-family: 'Pacifico', cursive; /* Using the same font as the labels for consistency */
    font-size: 17px; /* Slightly larger text for better readability */
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */ 
   
}
.login-btn:hover{ 
    border: 1px solid white;
}

a{
    font-weight: 800;
    color: #bb5939;
    text-decoration: none;
    
}

input{
    width: min(20em, 12em);
    height: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 30px; /* Round the corners of the input box */
    background-color: #f9f9f9; 
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); 
}

.signup-link{
    margin-top:20px;
    font-family: fantasy;
}

/* Changes the width of the input bar for computer devices */
@media only screen and (min-width: 650px) {
    input{
        width: 300px;
    }
}