*,*::before,*::after{
    padding:0;
    margin:0;
    
}

:root{
    --width:min(50%,300px);
}
body{
    background-color: #AAA239;
    
}


.container-one{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: rgb(33.3,31,0,.5) ;
    height:auto;
    width:60%;
    border-radius: 5%;
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.form-input{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width:60%;
}

.form-links{
   
    margin-bottom: 30px;

}

.form-links a{
    margin-left:20px;
    text-decoration-thickness: .15rem;
    color:#FFFCCE;
    font-size: 1.2rem;
}

.form-links a:hover{
    color:#A9A238;

}


.form-input{
    width:var(--width);

}
.login-btn{
    font:inherit;
    font-weight: 600;
    padding: 2rem, 2rem;

    margin-top: 30px;
    border:1px solid;
    width:var(--width);
    height: 35px;
    border-radius: 25px;
    background-color: transparent;
    border-color:#FFFCCE;
    color:#FFFCCE;

}

.login-btn:hover{
    background: #D7D06E;
}

.form-input input{
    border-radius: 50px;
    height:15px;
    padding:10px;
}


